:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
  /* font-family: 'Dongle', sans-serif; */
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

* {
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

button {
  background-color: var(--label);

  height: 6rem;
  width: 15rem;

  border-radius: 3rem;
  border-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

button img {
  width: 9rem;
}

/*** Button change ***/
button .circle {
  position: absolute;
  margin-left: 8.5rem;

  border-style: none;
  background-color: white;

  width: 5rem;
  height: 5rem;
  border-radius: 999px;
}

.circle.dark {
  margin-right: 17.4rem;

  border-style: none;
  background-color: white;

  width: 5rem;
  height: 5rem;
  border-radius: 999px;
}

.change-color {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #e8e8e8;
  transition: all 0.4s ease-in-out;
}

/*** Dark Background ***/
.change-color.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: var(--dark);
}

#circle-transition {
  transition: all 0.3s ease-in-out;
}

h1 {
  position: absolute;
  margin-bottom: 55rem;

  font-size: 14rem;
  font-family: "Dongle", sans-serif;
  color: var(--dark);
  transition: all 0.4s ease-in-out;
}

footer {
  width: 100vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-bottom: 2rem;
}

footer p {
  justify-content: center;
  align-items: center;

  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
  line-height: 0;
  transition: all 0.4s ease-in-out;
  color: var(--dark);
}

footer img {
  justify-content: center;
  align-items: center;
  line-height: 0;

  height: 1.5rem;
}

.title.dark {
  position: absolute;
  margin-bottom: 55rem;
  color: white;

  font-size: 14rem;
  font-family: "Dongle", sans-serif;
  transition: all 0.4s ease-in-out;
}

.author.dark p {
  justify-content: center;
  align-items: center;

  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
  color: white;
  transition: all 0.4s ease-in-out;
}

/*** Modes Message***/

.light-mode,
.dark-mode {
  font-size: 3rem;
  font-family: "Dongle", sans-serif;
  color: #f1c40f;
  transition: all 0.4s ease-in-out;
}

.light-mode.invisible,
.dark-mode.invisible {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.light-mode,
.light-mode.invisible {
  position: absolute;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 426px) {
  .title.dark,
  h1 {
    margin-bottom: 48rem;
    margin-left: 1rem;

    font-size: 7rem;
  }
}

@media only screen and (max-width: 376px) {
  .title.dark,
  h1 {
    margin-bottom: 48rem;
    margin-left: 1rem;

    font-size: 6rem;
  }
}
