:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

* {
  margin: 0;
  font-family: 'Dongle', sans-serif;
}

.change-color {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #e8e8e8;
  transition: all 0.4s ease-in-out;
}

.change-color.dark {
  background-color: var(--dark);
}

/* Titulo */
.title {
  position: absolute;
  margin-bottom: 55rem;
  font-size: 14rem;

  transition: all 0.4s ease-in-out;
  color: var(--dark);
}

.title.dark {
  color: white;
}

/* Button */
button {
  background-color: var(--label);
  height: 6rem;
  width: 15rem;

  border-radius: 3rem;
  border-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

button img {
  width: 9rem;
}

button:hover {
  cursor: pointer;
}

/*** Button white ball ***/
.circle {
  position: absolute;
  border-style: none;
  background-color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 999px;
  transition: all 0.3s ease-in-out;

  margin-left: 8.5rem;
}

.circle.dark {
  margin-right: 17.4rem;
}

/*** Texto em cima do botao **/
.mode-select {
  font-size: 3rem;
  color: #f1c40f;
  transition: all 0.4s ease-in-out;
}

/* Footer  */
footer {
  width: 100vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-bottom: 2rem;
}

footer p {
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 2.5rem;
  transition: all 0.4s ease-in-out;
  color: var(--dark);
}

footer img {
  justify-content: center;
  align-items: center;
  line-height: 0;
  margin-left: 0.5rem;

  height: 1.5rem;
}

.author.dark p {
  color: white;
  font-size: 2.5rem;
}

@media only screen and (max-width: 426px) {
  .title.dark,
  h1 {
    margin-bottom: 48rem;
    margin-left: 1rem;

    font-size: 7rem;
  }
}

@media only screen and (max-width: 376px) {
  .title.dark,
  h1 {
    margin-bottom: 48rem;
    margin-left: 1rem;

    font-size: 6rem;
  }
}
